Онлајн продавница која ќе ги содржи најмалку следниве делови:
• Дома ✔️
    • Најава, стилизиран header и footer, опис на 3 категории на производи кои се нудат
• Кај секоја категорија на производи
    • Опис, линкови кон страни за рецензии за производите, динамичко преземање текст од одредени линкови, слики од конкретни производи, форма за можна нарачка
• Слики од производи ✔️
    • Мини инстаграм, да може да се додаваат/бришат, да се ставаат коментари на сликите и лајкови 
• Анкета за посетителите за импресии од сајтот ✔️
    • Прашалник за прибирање податоци за импресии, да има внесување податоци, избор на опции, внесување текст и слично
• Контакт форма ✔️
        • Контакт податоци, линк за маил или социјални мрежи

Презентација во термините за часови на 16 ноември 2023
Да се постави кодот на github до 15.11.2023, 23:59